.btn-inline {
  border: none;
  font-size: inherit;
  color: $color-primary;
  font-weight: 600;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s;

  &:hover {
    color: $color-grey-dark-1;

    & span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }

  & span {
    margin-left: 3px;
    transition: margin-left 0.2s;
  }
}

.btn {
  border: none;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  overflow: hidden;
  color: #fff;
  cursor: pointer;
  transition: $transition-1;

  &:hover {
    transform: translateY(-3px);
    box-shadow: $shadow-1;
    background-image: linear-gradient(
      to left,
      $color-primary-light,
      $color-primary-dark
    );

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(1px);
    box-shadow: $shadow-2;
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: $transition-2;
  }

  & > * {
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: $transition-1;
  }

  &__visible {
    padding: 2rem 7.5rem;
  }

  &__invisible {
    position: absolute;
    left: 0;
    top: -100%;
    padding: 2rem 0rem;
  }

  &:hover &__invisible {
    top: 0;
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}
