.overview {
  display: flex;
  border-bottom: $line-1;
  align-items: center;

  &__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: $bp-sm-2) {
      font-size: 2rem;
      padding: 1rem 1.5rem;
    }

    @media only screen and (max-width: $bp-sm-3) {
      font-size: 1.75rem;
      padding: 1rem;
    }
  }

  &__stars {
    display: flex;
    margin-right: auto;
  }

  &__icon-star,
  &__icon-location {
    width: 2rem;
    height: 2rem;
    fill: $color-primary;

    @media only screen and (max-width: $bp-sm-2) {
      width: 1.75rem;
      height: 1.75rem;
    }
  }

  &__location {
    display: flex;
    font-size: 1.2rem;
    align-items: center;

    @media only screen and (max-width: $bp-sm-3) {
      transform: translateX(1.2rem);
    }
  }

  &__icon-location {
    margin-right: 0.5rem;

    @media only screen and (max-width: $bp-sm-3) {
      transform: scale(1.2);
    }
  }

  &__rating {
    background-color: $color-primary;
    color: #fff;
    margin-left: 3rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;

    @media only screen and (max-width: $bp-sm-2) {
      padding: 0 0.3rem;
    }

    @media only screen and (max-width: $bp-sm-3) {
      text-align: center;
    }

    &-average {
      font-size: 2.25rem;
      font-weight: 300;
      margin-bottom: -0.2rem;

      @media only screen and (max-width: $bp-sm-2) {
        font-size: 1.8rem;
      }
    }

    &-count {
      font-size: 1rem;
      text-transform: uppercase;

      @media only screen and (max-width: $bp-sm-2) {
        font-size: 0.9rem;
      }
    }
  }
}
