.search {
  flex: 0 0 40%;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-sm-3) {
    order: 1;
    flex: 0 0 100%;
    background-color: $color-grey-light-2;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: $color-grey-dark-1;
    background-color: $color-grey-light-2;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: $transition-2;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;

      @media only screen and (max-width: $bp-sm-3) {
        width: 95%;
      }
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-3;
    }
  }

  &__input:focus + &__button {
    background-color: $color-grey-light-3;

    & .search__icon {
      fill: $color-grey-dark-1;
    }
  }

  &__button {
    border: none;
    background-color: $color-grey-light-2;
    transition: $transition-1;
    cursor: pointer;

    // &:focus {
    //   outline: none;
    // }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-grey-dark-3;
    transition: $transition-1;
  }
}
