.side-nav {
  list-style: none;
  font-size: 1.4rem;
  margin-top: 3.5rem;

  @media only screen and (max-width: $bp-md-2) {
    margin-top: 0;
    display: flex;
  }

  &__item {
    position: relative;

    @media only screen and (max-width: $bp-md-2) {
      flex: 0 0 25%;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;

      @media only screen and (max-width: $bp-md-2) {
        margin-bottom: 0;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: $color-primary;
      transition: transform 0.3s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.3s,
        background-color 0.2s;
      transform: scaleY(0);
      cursor: pointer;
    }

    &:hover::before,
    &--active::before {
      transform: scaleY(1);
      width: 100%;
    }

    &--active::before {
      @media only screen and (max-width: $bp-md-2) {
        width: 3px;
        transform: scale(0);
      }
    }

    &:active::before {
      background-color: $color-primary-light;
    }
  }

  &__link {
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      display: block;
      font-weight: 400;
      color: $color-grey-light-1;
      padding: 1.5rem 3rem;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 2;

      @media only screen and (max-width: $bp-md-2) {
        display: flex;
        justify-content: center;
        padding: 2.5rem;
      }

      @media only screen and (max-width: $bp-sm-2) {
        flex-direction: column;
        padding: 1.5rem 0.5rem;
      }
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
    margin-right: 2rem;

    @media only screen and (max-width: $bp-sm-2) {
      margin-right: 0;
      width: 1.5rem;
      height: 1.5rem;
      margin-bottom: 0.7rem;
    }
  }
}
